extends layout
block content
    #tools
        select#stroke(name='nom', size='1')
            - var n = 1;
            while n < 30
                if (n==8)
                    option(selected="selected")= n++
                else
                    option= n++
    
        select#color(name='nom', size='1')
            option red
            option green
            option blue
            option white
            option yellow
            option purple
            option pink
    
        input#undo(type="button" value='Undo')
        input#redo(type="button" value='Redo')
        span#zoom
        input#default(type="button" value="default")

    canvas(id="draw", resize="true", keepalive="true")
    //- script(type="text/paperscript", src="javascripts/test.js", canvas="draw")
    script(type="text/paperscript", src="javascripts/scroll.js", canvas="draw")
    script(type="text/paperscript", src="javascripts/drawClient.js", canvas="draw")
    script(type="text/paperscript", src="javascripts/drawServer.js", canvas="draw")
